/AlmightyPear/packages/
/AlmightyPear/Checkmeg.WPF/bin/
/AlmightyPear/Checkmeg.WPF/obj/
/AlmightyPear/Core/bin/
/AlmightyPear/Core/obj/
/AlmightyPear/Engine/bin/
/AlmightyPear/Engine/obj/
/AlmightyPear/.vs
